In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.DataFrame(np.array([[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]]).T, 
                     index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],
                     columns = ["Value"])
train.head()

   Value
1      1
2      2
3      3
4      4
5      5

In [3]:
train.rolling(4).mean()

    Value
1     NaN
2     NaN
3     NaN
4     2.5
5     3.5
6     4.5
7     5.5
8     6.5
9     7.5
10    8.5
11    9.5
12   10.5
13   11.5
14   12.5
15   13.5

In [6]:
window_size = 3

In [7]:
def prepare_data(sales_list, item=None):
    
    if item is not None:
        sales_list = np.append(sales_list, item)
        
    df = pd.DataFrame(np.array([sales_list]).T, columns=["Sales"])
    df["cum_mean"] = df['Sales'].expanding().mean()
    df["cum_std"] = df['Sales'].expanding().std()
    df["cum_std"] = df["cum_std"].fillna(0)
    df["roll_mean"] = df["Sales"].rolling(window_size).mean()
    df["roll_mean"] = df["roll_mean"].fillna(0)
    df["roll_std"] = df["Sales"].rolling(window_size).std()
    df["roll_std"] = df["roll_std"].fillna(0)
    
    for i in range(1, window_size+1):
        if i == window_size:
            df['target'] = df['Sales'].shift(-i)
        else:
            df['sale-lag-'+str(i)] = df['Sales'].shift(-i)
    
        if i < window_size:
            df['mean-lag-'+str(i)] = df['cum_mean'].shift(-i)
            df['std-lag-'+str(i)] = df['cum_std'].shift(-i)
            df['rol_mean-lag-'+str(i)] = df['cum_std'].shift(-i)
            df['rol_std-lag-'+str(i)] = df['cum_std'].shift(-i)
    
    df.dropna(inplace=True)
    df.drop(['cum_mean', 'cum_std'], inplace=True, axis=1)
    
    return sales_list, df

In [8]:
sales_list = train.values.ravel()
_, train_df = prepare_data(sales_list)

In [9]:
train_df.head(20)

,Sales,roll_mean,roll_std,sale-lag-1,mean-lag-1,std-lag-1,rol_mean-lag-1,rol_std-lag-1,sale-lag-2,mean-lag-2,std-lag-2,rol_mean-lag-2,rol_std-lag-2,target
2,3,2.0,1.0,4.0,2.5,1.290994,1.290994,1.290994,5.0,3.0,1.581139,1.581139,1.581139,6.0
3,4,3.0,1.0,5.0,3.0,1.581139,1.581139,1.581139,6.0,3.5,1.870829,1.870829,1.870829,7.0
4,5,4.0,1.0,6.0,3.5,1.870829,1.870829,1.870829,7.0,4.0,2.160247,2.160247,2.160247,8.0
5,6,5.0,1.0,7.0,4.0,2.160247,2.160247,2.160247,8.0,4.5,2.449490,2.449490,2.449490,9.0
6,7,6.0,1.0,8.0,4.5,2.449490,2.449490,2.449490,9.0,5.0,2.738613,2.738613,2.738613,10.0
7,8,7.0,1.0,9.0,5.0,2.738613,2.738613,2.738613,10.0,5.5,3.027650,3.027650,3.027650,11.0
8,9,8.0,1.0,10.0,5.5,3.027650,3.027650,3.027650,11.0,6.0,3.316625,3.316625,3.316625,12.0
9,10,9.0,1.0,11.0,6.0,3.316625,3.316625,3.316625,12.0,6.5,3.605551,3.605551,3.605551,13.0
10,11,10.0,1.0,12.0,6.5,3.605551,3.605551,3.605551,13.0,7.0,3.894440,3.894440,3.894440,14.0
11,12,11.0,1.0,13.0,7.0,3.894440,3.894440,3.894440,14.0,7.5,4.183300,4.183300,4.183300,15.0

In [105]:
train_y = np.array([train_df['target'].values]).T
train_df.drop(['target'], inplace=True, axis=1)
train_y.shape

(12, 1)

In [106]:
train_x = train_df.values
train_x.shape

(12, 7)