## Import libraries

In [1]:
import gc
import re
import pickle
import string
import numpy as np
import pandas as pd
from tqdm import tqdm
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import QuantileTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

## Load source datasets

In [2]:
train_df = pd.read_csv("../input/mathcothon/train.csv")
print(f"train_df: {train_df.shape}")

train_df: (19237, 18)

In [3]:
test_df = pd.read_csv("../input/mathcothon/test.csv")
print(f"test_df: {test_df.shape}")

test_df: (8245, 18)

## Data Cleansing

### Remove duplicates

In [4]:
check_cols = [col for col in train_df.columns if col != 'ID']
train_df = train_df[~train_df.duplicated(subset=check_cols, keep='first')].copy()
print(f"train_df: {train_df.shape}")
train_df.head()

train_df: (15725, 18)

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

### Remove categorical mismatches

In [5]:
train_df = train_df[~train_df['Manufacturer'].isin(['HAVAL', 'LANCIA', 'PONTIAC', 'ROLLS-ROYCE', 'SEAT'])].copy()
train_df = train_df[~train_df['Prod. year'].isin([1939, 1947, 1953, 1957, 1964, 1965, 1973, 
                                                  1976, 1977, 1978, 1980, 1982, 1983, 1985])].copy()
train_df['Manufacturer'] = train_df['Manufacturer'].apply(lambda x: 'UNKNOWN' if x == 'სხვა' else x)
print(f"train_df: {train_df.shape}")

train_df: (15690, 18)

In [6]:
test_df['Manufacturer'] = test_df['Manufacturer'].apply(lambda x: 'UNKNOWN' if x == 'სხვა' else x)
print(f"test_df: {test_df.shape}")

test_df: (8245, 18)

### Correct invalid records

In [7]:
train_df['Turbo_Engine'] = train_df['Engine volume'].apply(lambda x: 1 if 'Turbo' in x else 0)
train_df['Engine volume'] = train_df['Engine volume'].apply(lambda x: float(x.replace(' Turbo','')))
train_df['Engine volume'] = train_df['Engine volume'].apply(lambda x: np.nan if x==0 else x)
train_df['Mileage'] = train_df['Mileage'].apply(lambda x: float(x.replace(' km','')))
train_df['Mileage'] = train_df['Mileage'].apply(lambda x: np.nan if x==0 else x)
train_df['Levy'] = train_df['Levy'].apply(lambda x: 0 if x=='-' else int(x))

test_df['Turbo_Engine'] = test_df['Engine volume'].apply(lambda x: 1 if 'Turbo' in x else 0)
test_df['Engine volume'] = test_df['Engine volume'].apply(lambda x: float(x.replace(' Turbo','')))
test_df['Engine volume'] = test_df['Engine volume'].apply(lambda x: np.nan if x==0 else x)
test_df['Mileage'] = test_df['Mileage'].apply(lambda x: float(x.replace(' km','')))
test_df['Mileage'] = test_df['Mileage'].apply(lambda x: np.nan if x==0 else x)
test_df['Levy'] = test_df['Levy'].apply(lambda x:0 if x=='-' else int(x))
test_df['Cylinders'] = test_df['Cylinders'].apply(lambda x: 12 if x==127 else x)

In [8]:
combined_df = train_df.append(test_df, sort=False, ignore_index=True)

agg_cols = ['Manufacturer','Category']
agg_df = combined_df[~combined_df.duplicated(subset=['Manufacturer','Category','Engine volume','Mileage'], keep='first')].copy()
agg_df = agg_df.groupby(agg_cols).agg({'Engine volume':'mean','Mileage':'mean'}).reset_index()
agg_df.fillna(0, inplace=True)
agg_df = agg_df.rename(columns={'Engine volume':'Mean Engine volume', 'Mileage':'Mean Mileage'})
agg_df['Mean Engine volume'] = np.round(agg_df['Mean Engine volume'], 1)
agg_df['Mean Mileage'] = np.round(agg_df['Mean Mileage'], 1)
agg_df.head()

  Manufacturer   Category  Mean Engine volume  Mean Mileage
0        ACURA       Jeep                 3.6      120698.5
1        ACURA      Sedan                 2.9      153573.6
2   ALFA ROMEO      Coupe                 1.8      240000.0
3   ALFA ROMEO  Hatchback                 1.8      189508.7
4   ALFA ROMEO      Sedan                 2.1      175813.0

In [9]:
combined_df = pd.merge(combined_df, agg_df, on=agg_cols, how='left', sort=False)
combined_df['Engine volume'] = combined_df.apply(lambda x: x['Mean Engine volume'] if pd.isnull(x['Engine volume']) else x['Engine volume'], axis=1)
combined_df['Mileage'] = combined_df.apply(lambda x: x['Mean Mileage'] if pd.isnull(x['Mileage']) else x['Mileage'], axis=1)
combined_df.drop(['Mean Engine volume','Mean Mileage'], axis=1, inplace=True)
combined_df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Turbo_Engine
0,45654403,13328.0,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005.0,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,0
1,44731507,16621.0,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000.0,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,0
2,45774419,8467.0,0,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000.0,4.0,Variator,Front,04-May,Right-hand drive,Black,2,0
3,45769185,3607.0,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966.0,4.0,Automatic,4x4,04-May,Left wheel,White,0,0
4,45809263,11726.0,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901.0,4.0,Automatic,Front,04-May,Left wheel,Silver,4,0

In [10]:
train_df = combined_df[:train_df.shape[0]].copy()
test_df = combined_df[train_df.shape[0]:].copy()
test_df.drop(['Price'], inplace=True, axis=1)
print(f"train_df: {train_df.shape} \ntest_df: {test_df.shape}")

train_df: (15690, 19)
test_df: (8245, 18)

### Transform target data

In [11]:
train_df = train_df[train_df['Price']<400000].copy()
train_df['Price'] = np.log1p(train_df['Price'])
train_df = train_df[train_df['Price']>3].copy()
print(f"train_df: {train_df.shape}")

train_df: (15662, 19)

### Remove outliers

In [12]:
train_df = train_df[train_df['Levy']<10000].copy()
train_df = train_df[train_df['Engine volume']<10].copy()
train_df = train_df[train_df['Mileage']>0].copy()

train_df = train_df[~((train_df['Manufacturer']=='OPEL')&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Manufacturer']=='OPEL')&(train_df['Price']>11))].copy()
train_df = train_df[~((train_df['Manufacturer']=='INFINITI')&(train_df['Price']<7))].copy()
train_df = train_df[~((train_df['Manufacturer']=='SUZUKI')&(train_df['Price']<4))].copy()
train_df = train_df[~((train_df['Manufacturer']=='GAZ')&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Manufacturer']=='HUMMER')&(train_df['Price']<4))].copy()
train_df = train_df[~((train_df['Manufacturer']=='MASERATI')&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Manufacturer']=='MERCURY')&(train_df['Price']<8))].copy()
train_df = train_df[~((train_df['Manufacturer']=='DAIHATSU')&(train_df['Price']<7))].copy()

train_df = train_df[~((train_df['Prod. year']==1993)&(train_df['Price']<4))].copy()

train_df = train_df[~((train_df['Category']=='Cabriolet')&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Category']=='Goods wagon')&(train_df['Price']<5))].copy()

train_df = train_df[~((train_df['Fuel type']=='Plug-in Hybrid')&(train_df['Price']<8))].copy()

train_df = train_df[~((train_df['Cylinders']==10)&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Cylinders']==12)&(train_df['Price']<6))].copy()

train_df = train_df[~((train_df['Airbags']==3)&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Airbags']==7)&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Airbags']==9)&(train_df['Price']<6))].copy()
train_df = train_df[~((train_df['Airbags']==16)&(train_df['Price']<6))].copy()

print(f"train_df: {train_df.shape}")

train_df: (15630, 19)

## Feature Engineering

### Arithmetic Features

In [13]:
# ID
train_df['id0'] = train_df['ID'].apply(lambda x: str(x)[0])
train_df['id1'] = train_df['ID'].apply(lambda x: str(x)[1])
train_df['id2'] = train_df['ID'].apply(lambda x: str(x)[2])
train_df['id3'] = train_df['ID'].apply(lambda x: str(x)[3])
train_df['id4'] = train_df['ID'].apply(lambda x: str(x)[4])
train_df['id5'] = train_df['ID'].apply(lambda x: str(x)[5])
train_df['id6'] = train_df['ID'].apply(lambda x: str(x)[6])
train_df['id7'] = train_df['ID'].apply(lambda x: str(x)[7])

# Manufacturer
train_df['Manufacturer'] = train_df['Manufacturer'].apply(lambda x: x.replace(' ','-'))
train_df['Manufacturer_vowels'] = train_df['Manufacturer'].apply(lambda x: len([v for v in x if v in ['A','E','I','O','U']]))

# Model
train_df['Model'] = train_df['Model'].apply(lambda x: ''.join(filter(lambda s: s in string.printable, x)))
train_df['Model'] = train_df['Model'].apply(lambda x: x.upper().replace(' ','-'))
train_df['Car_Desc'] = train_df.apply(lambda x: x['Manufacturer'] + '-' + x['Model'], axis=1)
train_df['Len_Model'] = train_df['Model'].apply(lambda x: len(x))
train_df['Model_Numeric'] = train_df['Model'].apply(lambda x: 1 if x.isdigit() else 0)
train_df['Model_vowels'] = train_df['Model'].apply(lambda x: len([v for v in x if v in ['A','E','I','O','U']]))
train_df['Numbers_in_Model'] = train_df['Model'].apply(lambda x: 1 if bool(re.search(r'\d', x)) is True else 0)

# Prod. year
train_df['Prod. Year Group'] = train_df['Prod. year'].apply(lambda x: 0 if x<=1990 else 1 if x>1990 and x<=2000 else 2 if x>2000 and x<=2010 else 3)
train_df['Leap_Year'] = train_df['Prod. year'].apply(lambda x: 1 if (((x % 4 == 0) and (x % 100 != 0)) or (x % 400 == 0)) is True else 0)
train_df['Age-of-car'] = train_df['Prod. year'].apply(lambda x: np.log1p(2021 - x))

# Leather interior
train_df['Leather interior'] = train_df['Leather interior'].apply(lambda x: 1 if x=='Yes' else 0)

# Fuel type
train_df['Hybrid_Car'] = train_df['Fuel type'].apply(lambda x: 1 if 'Hybrid' in x else 0)
train_df['Fuel Tank Petrol'] = train_df['Fuel type'].apply(lambda x: 1 if x=='Petrol' else 0)
train_df['Fuel Tank Diesel'] = train_df['Fuel type'].apply(lambda x: 1 if x=='Diesel' else 0)
train_df['Fuel Tank Gas'] = train_df['Fuel type'].apply(lambda x: 1 if x in ['LPG','CNG','Plug-in Hybrid'] else 0)

# Engine volume
train_df['Per_cylinder_capacity'] = train_df.apply(lambda x: round((x['Engine volume'] * 1000)/x['Cylinders']), axis=1)
train_df = train_df[train_df['Per_cylinder_capacity']<5000].copy()
train_df = train_df[np.log1p(train_df['Per_cylinder_capacity'])>2].copy()

# Mileage
train_df['Mileage'] = train_df['Mileage'] * 0.621371
train_df['Mileage_per_yr'] = train_df['Mileage'] / train_df['Age-of-car']

# Gear box type
train_df['Manual_Gear'] = train_df['Gear box type'].apply(lambda x: 1 if x in ['Manual','Tiptronic'] else 0)
train_df['Automatic_Gear'] = train_df['Gear box type'].apply(lambda x: 1 if x in ['Automatic','Tiptronic','Variator'] else 0)
train_df['Continuous_Gear'] = train_df['Gear box type'].apply(lambda x: 1 if x == 'Variator' else 0)

# Drive wheels
train_df['Drive wheels Front'] = train_df['Drive wheels'].apply(lambda x: 1 if x in ['Front', '4x4'] else 0)
train_df['Drive wheels Rear'] = train_df['Drive wheels'].apply(lambda x: 1 if x in ['Rear', '4x4'] else 0)

# Doors
train_df['Doors'] = train_df['Doors'].apply(lambda x: 6 if x=='>5' else int(x.split('-')[0]))

# Wheel
train_df['Wheel'] = train_df['Wheel'].apply(lambda x: 1 if x=='Right-hand drive' else 0)

# Drop redundant features
train_df.drop(['ID','Prod. year','Drive wheels','Gear box type'], axis=1, inplace=True)

print(f"train_df: {train_df.shape}")
train_df.head()

train_df: (15628, 43)

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,...,Fuel Tank Petrol,Fuel Tank Diesel,Fuel Tank Gas,Per_cylinder_capacity,Mileage_per_yr,Manual_Gear,Automatic_Gear,Continuous_Gear,Drive wheels Front,Drive wheels Rear
0,9.497697,1399,LEXUS,RX-450,Jeep,1,Hybrid,3.5,115578.112855,6.0,...,0,0,0,583,46512.054231,0,1,0,1,1
1,9.718482,1018,CHEVROLET,EQUINOX,Jeep,0,Petrol,3.0,119303.232000,6.0,...,1,0,0,500,49753.312146,1,1,0,1,1
2,9.044050,0,HONDA,FIT,Hatchback,0,Petrol,1.3,124274.200000,4.0,...,1,0,0,325,44822.443013,0,1,1,1,0
3,8.190909,862,FORD,ESCAPE,Jeep,1,Hybrid,2.5,104990.572386,4.0,...,0,0,0,625,43784.469479,0,1,0,1,1
4,9.369649,446,HONDA,FIT,Hatchback,1,Petrol,1.3,57104.616271,4.0,...,1,0,0,325,27461.515569,0,1,0,1,0

In [14]:
# ID
test_df['id0'] = test_df['ID'].apply(lambda x: str(x)[0])
test_df['id1'] = test_df['ID'].apply(lambda x: str(x)[1])
test_df['id2'] = test_df['ID'].apply(lambda x: str(x)[2])
test_df['id3'] = test_df['ID'].apply(lambda x: str(x)[3])
test_df['id4'] = test_df['ID'].apply(lambda x: str(x)[4])
test_df['id5'] = test_df['ID'].apply(lambda x: str(x)[5])
test_df['id6'] = test_df['ID'].apply(lambda x: str(x)[6])
test_df['id7'] = test_df['ID'].apply(lambda x: str(x)[7])

# Manufacturer
test_df['Manufacturer'] = test_df['Manufacturer'].apply(lambda x: x.replace(' ','-'))
test_df['Manufacturer_vowels'] = test_df['Manufacturer'].apply(lambda x: len([v for v in x if v in ['A','E','I','O','U']]))

# Model
test_df['Model'] = test_df['Model'].apply(lambda x: ''.join(filter(lambda s: s in string.printable, x)))
test_df['Model'] = test_df['Model'].apply(lambda x: x.upper().replace(' ','-'))
test_df['Car_Desc'] = test_df.apply(lambda x: x['Manufacturer'] + '-' + x['Model'], axis=1)
test_df['Len_Model'] = test_df['Model'].apply(lambda x: len(x))
test_df['Model_Numeric'] = test_df['Model'].apply(lambda x: 1 if x.isdigit() else 0)
test_df['Model_vowels'] = test_df['Model'].apply(lambda x: len([v for v in x if v in ['A','E','I','O','U']]))
test_df['Numbers_in_Model'] = test_df['Model'].apply(lambda x: 1 if bool(re.search(r'\d', x)) is True else 0)

# Prod. year
test_df['Prod. Year Group'] = test_df['Prod. year'].apply(lambda x: 0 if x<=1990 else 1 if x>1990 and x<=2000 else 2 if x>2000 and x<=2010 else 3)
test_df['Leap_Year'] = test_df['Prod. year'].apply(lambda x: 1 if (((x % 4 == 0) and (x % 100 != 0)) or (x % 400 == 0)) is True else 0)
test_df['Age-of-car'] = test_df['Prod. year'].apply(lambda x: np.log1p(2021 - x))

# Leather interior
test_df['Leather interior'] = test_df['Leather interior'].apply(lambda x: 1 if x=='Yes' else 0)

# Fuel type
test_df['Hybrid_Car'] = test_df['Fuel type'].apply(lambda x: 1 if 'Hybrid' in x else 0)
test_df['Fuel Tank Petrol'] = test_df['Fuel type'].apply(lambda x: 1 if x=='Petrol' else 0)
test_df['Fuel Tank Diesel'] = test_df['Fuel type'].apply(lambda x: 1 if x=='Diesel' else 0)
test_df['Fuel Tank Gas'] = test_df['Fuel type'].apply(lambda x: 1 if x in ['LPG','CNG','Plug-in Hybrid'] else 0)

# Engine volume
test_df['Per_cylinder_capacity'] = test_df.apply(lambda x: round((x['Engine volume'] * 1000)/x['Cylinders']), axis=1)

# Mileage
test_df['Mileage'] = test_df['Mileage'] * 0.621371
test_df['Mileage_per_yr'] = test_df['Mileage'] / test_df['Age-of-car']

# Gear box type
test_df['Manual_Gear'] = test_df['Gear box type'].apply(lambda x: 1 if x in ['Manual','Tiptronic'] else 0)
test_df['Automatic_Gear'] = test_df['Gear box type'].apply(lambda x: 1 if x in ['Automatic','Tiptronic','Variator'] else 0)
test_df['Continuous_Gear'] = test_df['Gear box type'].apply(lambda x: 1 if x == 'Variator' else 0)

# Drive wheels
test_df['Drive wheels Front'] = test_df['Drive wheels'].apply(lambda x: 1 if x in ['Front', '4x4'] else 0)
test_df['Drive wheels Rear'] = test_df['Drive wheels'].apply(lambda x: 1 if x in ['Rear', '4x4'] else 0)

# Doors
test_df['Doors'] = test_df['Doors'].apply(lambda x: 6 if x=='>5' else int(x.split('-')[0]))

# Wheel
test_df['Wheel'] = test_df['Wheel'].apply(lambda x: 1 if x=='Right-hand drive' else 0)

# Drop redundant features
test_df.drop(['ID','Prod. year','Drive wheels','Gear box type'], axis=1, inplace=True)

print(f"test_df: {test_df.shape}")
test_df.head()

test_df: (8245, 42)

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Doors,...,Fuel Tank Petrol,Fuel Tank Diesel,Fuel Tank Gas,Per_cylinder_capacity,Mileage_per_yr,Manual_Gear,Automatic_Gear,Continuous_Gear,Drive wheels Front,Drive wheels Rear
15690,0,VOLKSWAGEN,GOLF,Hatchback,0,Diesel,2.0,6.064192e+06,4.0,2,...,0,1,0,500,2.633645e+06,1,0,0,1,0
15691,0,HYUNDAI,SONATA,Sedan,1,Petrol,2.4,1.615565e+04,4.0,4,...,1,0,0,600,7.016308e+03,1,1,0,1,0
15692,0,NISSAN,TIIDA,Sedan,0,Petrol,1.5,1.043903e+05,4.0,4,...,1,0,0,375,3.684521e+04,0,1,0,1,0
15693,975,VOLVO,XC90,Jeep,1,Petrol,3.2,8.885605e+04,6.0,4,...,1,0,0,533,3.858969e+04,0,1,0,1,1
15694,0,OPEL,ASTRA,Hatchback,0,Petrol,1.6,1.242742e+05,4.0,4,...,1,0,0,400,3.690623e+04,1,0,0,1,0

### Label Encoding

In [15]:
encode_cols = ['Manufacturer','Model','Category','Fuel type','Color']

for col in encode_cols:
    le = LabelEncoder().fit(train_df[col].append(test_df[col]))
    train_df[col] = le.transform(train_df[col])
    test_df[col] = le.transform(test_df[col])

train_df.head()

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,...,Fuel Tank Petrol,Fuel Tank Diesel,Fuel Tank Gas,Per_cylinder_capacity,Mileage_per_yr,Manual_Gear,Automatic_Gear,Continuous_Gear,Drive wheels Front,Drive wheels Rear
0,9.497697,1399,30,1464,4,1,2,3.5,115578.112855,6.0,...,0,0,0,583,46512.054231,0,1,0,1,1
1,9.718482,1018,8,755,4,0,5,3.0,119303.232000,6.0,...,1,0,0,500,49753.312146,1,1,0,1,1
2,9.044050,0,21,799,3,0,5,1.3,124274.200000,4.0,...,1,0,0,325,44822.443013,0,1,1,1,0
3,8.190909,862,16,762,4,1,2,2.5,104990.572386,4.0,...,0,0,0,625,43784.469479,0,1,0,1,1
4,9.369649,446,21,799,3,1,5,1.3,57104.616271,4.0,...,1,0,0,325,27461.515569,0,1,0,1,0

### Extract target label

In [16]:
train_y = train_df['Price']
train_df.drop(['Price'], inplace=True, axis=1)
print("train_y: {}".format(train_y.shape))

train_y: (15628,)

### Group features

In [17]:
combined_df = train_df.append(test_df, sort=False, ignore_index=True)
combined_df.head()

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Doors,...,Fuel Tank Petrol,Fuel Tank Diesel,Fuel Tank Gas,Per_cylinder_capacity,Mileage_per_yr,Manual_Gear,Automatic_Gear,Continuous_Gear,Drive wheels Front,Drive wheels Rear
0,1399,30,1464,4,1,2,3.5,115578.112855,6.0,4,...,0,0,0,583,46512.054231,0,1,0,1,1
1,1018,8,755,4,0,5,3.0,119303.232000,6.0,4,...,1,0,0,500,49753.312146,1,1,0,1,1
2,0,21,799,3,0,5,1.3,124274.200000,4.0,4,...,1,0,0,325,44822.443013,0,1,1,1,0
3,862,16,762,4,1,2,2.5,104990.572386,4.0,4,...,0,0,0,625,43784.469479,0,1,0,1,1
4,446,21,799,3,1,5,1.3,57104.616271,4.0,4,...,1,0,0,325,27461.515569,0,1,0,1,0

In [18]:
temp = combined_df.groupby(['Category']).agg({
    'Model': ['count'], 
    'Manufacturer': ['count'], 
    'Fuel type': ['count'],
    'Color': ['count'],
    'Mileage': ['min', 'max', 'mean', 'quantile'],
    'Engine volume': ['min', 'max', 'mean', 'quantile'],
    'Airbags': ['mean', 'median', 'quantile'],
    'Levy': ['mean', 'quantile'],
})
temp.columns = ['f2_'+'_'.join(x) for x in temp.columns]
combined_df = pd.merge(combined_df, temp, on=['Category'], how='left', sort=False)

del temp
gc.collect()

combined_df.head()

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Doors,...,f2_Mileage_quantile,f2_Engine volume_min,f2_Engine volume_max,f2_Engine volume_mean,f2_Engine volume_quantile,f2_Airbags_mean,f2_Airbags_median,f2_Airbags_quantile,f2_Levy_mean,f2_Levy_quantile
0,1399,30,1464,4,1,2,3.5,115578.112855,6.0,4,...,77670.132258,0.1,6.3,2.617371,2.3,6.370444,4,4.0,743.284734,765.0
1,1018,8,755,4,0,5,3.0,119303.232000,6.0,4,...,77670.132258,0.1,6.3,2.617371,2.3,6.370444,4,4.0,743.284734,765.0
2,0,21,799,3,0,5,1.3,124274.200000,4.0,4,...,82340.356694,0.1,4.8,1.586102,1.5,5.925000,5,5.0,396.606720,382.0
3,862,16,762,4,1,2,2.5,104990.572386,4.0,4,...,77670.132258,0.1,6.3,2.617371,2.3,6.370444,4,4.0,743.284734,765.0
4,446,21,799,3,1,5,1.3,57104.616271,4.0,4,...,82340.356694,0.1,4.8,1.586102,1.5,5.925000,5,5.0,396.606720,382.0

In [19]:
temp = combined_df.groupby(['Fuel type']).agg({
    'Model': ['count'], 
    'Manufacturer': ['count'], 
    'Category': ['count'],
    'Color': ['count'],
    'Mileage': ['min', 'max', 'mean', 'quantile'],
    'Engine volume': ['min', 'max', 'mean', 'quantile'],
    'Airbags': ['min', 'max', 'mean', 'quantile'],
    'Levy': ['mean', 'median', 'quantile'],
})
temp.columns = ['f3_'+'_'.join(x) for x in temp.columns]
combined_df = pd.merge(combined_df, temp, on=['Fuel type'], how='left', sort=False)

del temp
gc.collect()

combined_df.head()

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Doors,...,f3_Engine volume_max,f3_Engine volume_mean,f3_Engine volume_quantile,f3_Airbags_min,f3_Airbags_max,f3_Airbags_mean,f3_Airbags_quantile,f3_Levy_mean,f3_Levy_median,f3_Levy_quantile
0,1399,30,1464,4,1,2,3.5,115578.112855,6.0,4,...,6.0,1.987535,1.8,0,16,7.757314,8.0,514.875350,503,503.0
1,1018,8,755,4,0,5,3.0,119303.232000,6.0,4,...,7.3,2.309356,2.0,0,16,6.979607,6.0,603.760406,639,639.0
2,0,21,799,3,0,5,1.3,124274.200000,4.0,4,...,7.3,2.309356,2.0,0,16,6.979607,6.0,603.760406,639,639.0
3,862,16,762,4,1,2,2.5,104990.572386,4.0,4,...,6.0,1.987535,1.8,0,16,7.757314,8.0,514.875350,503,503.0
4,446,21,799,3,1,5,1.3,57104.616271,4.0,4,...,7.3,2.309356,2.0,0,16,6.979607,6.0,603.760406,639,639.0

In [20]:
temp = combined_df.groupby(['Prod. Year Group']).agg({
    'Model': ['count'], 
    'Manufacturer': ['count'], 
    'Category': ['count'],
    'Color': ['count'],
    'Fuel type': ['count'],
    'Mileage': ['mean', 'median', 'quantile'],
    'Engine volume': ['min', 'max', 'mean'],
    'Airbags': ['mean', 'median', 'quantile'],
    'Levy': ['mean', 'median', 'quantile'],
})
temp.columns = ['f4_'+'_'.join(x) for x in temp.columns]
combined_df = pd.merge(combined_df, temp, on=['Prod. Year Group'], how='left', sort=False)

del temp
gc.collect()

combined_df.head()

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Doors,...,f4_Mileage_quantile,f4_Engine volume_min,f4_Engine volume_max,f4_Engine volume_mean,f4_Airbags_mean,f4_Airbags_median,f4_Airbags_quantile,f4_Levy_mean,f4_Levy_median,f4_Levy_quantile
0,1399,30,1464,4,1,2,3.5,115578.112855,6.0,4,...,104390.328,0.2,10.8,2.362215,5.994380,5,5.0,468.319284,0,0.0
1,1018,8,755,4,0,5,3.0,119303.232000,6.0,4,...,68350.810,0.0,6.8,2.210286,7.148375,6,6.0,699.264954,707,707.0
2,0,21,799,3,0,5,1.3,124274.200000,4.0,4,...,104390.328,0.2,10.8,2.362215,5.994380,5,5.0,468.319284,0,0.0
3,862,16,762,4,1,2,2.5,104990.572386,4.0,4,...,68350.810,0.0,6.8,2.210286,7.148375,6,6.0,699.264954,707,707.0
4,446,21,799,3,1,5,1.3,57104.616271,4.0,4,...,68350.810,0.0,6.8,2.210286,7.148375,6,6.0,699.264954,707,707.0

### TF-IDF & Count Vectorization

In [21]:
combined_df['ID'] = combined_df.reset_index().index
combined_df.set_index('ID', inplace = True)

tfidfvec = TfidfVectorizer(ngram_range=(5,20), analyzer='char_wb', 
                           max_features=500, use_idf=1, sublinear_tf=1, 
                           max_df=0.95, min_df=3, strip_accents='ascii')
features = tfidfvec.fit_transform(combined_df.Car_Desc).toarray()

feature_names = ['tfidf_'+col for col in tfidfvec.get_feature_names()]
features_df = pd.DataFrame(features, columns=feature_names, index=combined_df.index)
print("TfidfVectorizer shape: {}".format(features_df.shape))

combined_df = pd.merge(combined_df, features_df, on='ID', how='inner', sort=False)
print(f"combined_df: {combined_df.shape}")

del features_df, tfidfvec
gc.collect()

combined_df.head()

TfidfVectorizer shape: (23873, 500)
combined_df: (23873, 595)

,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Doors,...,tfidf_yundai-sant,tfidf_yundai-santa-,tfidf_yundai-santa-f,tfidf_yundai-santa-fe,tfidf_yundai-so,tfidf_yundai-son,tfidf_yundai-sona,tfidf_yundai-sonat,tfidf_yundai-sonata,tfidf_yundai-sonata
ID,,,,,,,,,,,,,,,,,,,,,
0,1399,30,1464,4,1,2,3.5,115578.112855,6.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1018,8,755,4,0,5,3.0,119303.232000,6.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,21,799,3,0,5,1.3,124274.200000,4.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,862,16,762,4,1,2,2.5,104990.572386,4.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,446,21,799,3,1,5,1.3,57104.616271,4.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
countvec = CountVectorizer(ngram_range=(5,20), analyzer='char_wb', 
                           max_features=300, max_df=0.95, min_df=3, 
                           strip_accents='ascii')
features = countvec.fit_transform(combined_df.Car_Desc).toarray()

feature_names = ['countvec_'+col for col in countvec.get_feature_names()]
features_df = pd.DataFrame(features, columns=feature_names, index=combined_df.index)
print("Count Vectorizer shape: {}".format(features_df.shape))

combined_df = pd.merge(combined_df, features_df, on='ID', how='inner', sort=False)
combined_df.drop(['Car_Desc','Fuel type'], axis=1, inplace=True)
print(f"combined_df: {combined_df.shape}")

del features_df, countvec
gc.collect()

combined_df.head()

Count Vectorizer shape: (23873, 300)
combined_df: (23873, 893)

,Levy,Manufacturer,Model,Category,Leather interior,Engine volume,Mileage,Cylinders,Doors,Wheel,...,countvec_yundai-elant,countvec_yundai-elantr,countvec_yundai-elantra,countvec_yundai-s,countvec_yundai-so,countvec_yundai-son,countvec_yundai-sona,countvec_yundai-sonat,countvec_yundai-sonata,countvec_yundai-sonata
ID,,,,,,,,,,,,,,,,,,,,,
0,1399,30,1464,4,1,3.5,115578.112855,6.0,4,0,...,0,0,0,0,0,0,0,0,0,0
1,1018,8,755,4,0,3.0,119303.232000,6.0,4,0,...,0,0,0,0,0,0,0,0,0,0
2,0,21,799,3,0,1.3,124274.200000,4.0,4,1,...,0,0,0,0,0,0,0,0,0,0
3,862,16,762,4,1,2.5,104990.572386,4.0,4,0,...,0,0,0,0,0,0,0,0,0,0
4,446,21,799,3,1,1.3,57104.616271,4.0,4,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
train_df = combined_df[:train_y.shape[0]].copy()
test_df = combined_df[train_y.shape[0]:].copy()
train_df.shape, test_df.shape

((15628, 893), (8245, 893))

### NAN/INF check

In [24]:
train_df[train_df.isin([np.nan, np.inf, -np.inf]).any(1)].head()

Empty DataFrame
Columns: [Levy, Manufacturer, Model, Category, Leather interior, Engine volume, Mileage, Cylinders, Doors, Wheel, Color, Airbags, Turbo_Engine, id0, id1, id2, id3, id4, id5, id6, id7, Manufacturer_vowels, Len_Model, Model_Numeric, Model_vowels, Numbers_in_Model, Prod. Year Group, Leap_Year, Age-of-car, Hybrid_Car, Fuel Tank Petrol, Fuel Tank Diesel, Fuel Tank Gas, Per_cylinder_capacity, Mileage_per_yr, Manual_Gear, Automatic_Gear, Continuous_Gear, Drive wheels Front, Drive wheels Rear, f2_Model_count, f2_Manufacturer_count, f2_Fuel type_count, f2_Color_count, f2_Mileage_min, f2_Mileage_max, f2_Mileage_mean, f2_Mileage_quantile, f2_Engine volume_min, f2_Engine volume_max, f2_Engine volume_mean, f2_Engine volume_quantile, f2_Airbags_mean, f2_Airbags_median, f2_Airbags_quantile, f2_Levy_mean, f2_Levy_quantile, f3_Model_count, f3_Manufacturer_count, f3_Category_count, f3_Color_count, f3_Mileage_min, f3_Mileage_max, f3_Mileage_mean, f3_Mileage_quantile, f3_Engine volume_min, f3_Engine volume_max, f3_Engine volume_mean, f3_Engine volume_quantile, f3_Airbags_min, f3_Airbags_max, f3_Airbags_mean, f3_Airbags_quantile, f3_Levy_mean, f3_Levy_median, f3_Levy_quantile, f4_Model_count, f4_Manufacturer_count, f4_Category_count, f4_Color_count, f4_Fuel type_count, f4_Mileage_mean, f4_Mileage_median, f4_Mileage_quantile, f4_Engine volume_min, f4_Engine volume_max, f4_Engine volume_mean, f4_Airbags_mean, f4_Airbags_median, f4_Airbags_quantile, f4_Levy_mean, f4_Levy_median, f4_Levy_quantile, tfidf_ bmw-, tfidf_ chev, tfidf_ chevr, tfidf_ chevro, tfidf_ chevrol, tfidf_ chevrole, tfidf_ chevrolet, ...]
Index: []

[0 rows x 893 columns]

In [25]:
test_df[test_df.isin([np.nan, np.inf, -np.inf]).any(1)].head()

Empty DataFrame
Columns: [Levy, Manufacturer, Model, Category, Leather interior, Engine volume, Mileage, Cylinders, Doors, Wheel, Color, Airbags, Turbo_Engine, id0, id1, id2, id3, id4, id5, id6, id7, Manufacturer_vowels, Len_Model, Model_Numeric, Model_vowels, Numbers_in_Model, Prod. Year Group, Leap_Year, Age-of-car, Hybrid_Car, Fuel Tank Petrol, Fuel Tank Diesel, Fuel Tank Gas, Per_cylinder_capacity, Mileage_per_yr, Manual_Gear, Automatic_Gear, Continuous_Gear, Drive wheels Front, Drive wheels Rear, f2_Model_count, f2_Manufacturer_count, f2_Fuel type_count, f2_Color_count, f2_Mileage_min, f2_Mileage_max, f2_Mileage_mean, f2_Mileage_quantile, f2_Engine volume_min, f2_Engine volume_max, f2_Engine volume_mean, f2_Engine volume_quantile, f2_Airbags_mean, f2_Airbags_median, f2_Airbags_quantile, f2_Levy_mean, f2_Levy_quantile, f3_Model_count, f3_Manufacturer_count, f3_Category_count, f3_Color_count, f3_Mileage_min, f3_Mileage_max, f3_Mileage_mean, f3_Mileage_quantile, f3_Engine volume_min, f3_Engine volume_max, f3_Engine volume_mean, f3_Engine volume_quantile, f3_Airbags_min, f3_Airbags_max, f3_Airbags_mean, f3_Airbags_quantile, f3_Levy_mean, f3_Levy_median, f3_Levy_quantile, f4_Model_count, f4_Manufacturer_count, f4_Category_count, f4_Color_count, f4_Fuel type_count, f4_Mileage_mean, f4_Mileage_median, f4_Mileage_quantile, f4_Engine volume_min, f4_Engine volume_max, f4_Engine volume_mean, f4_Airbags_mean, f4_Airbags_median, f4_Airbags_quantile, f4_Levy_mean, f4_Levy_median, f4_Levy_quantile, tfidf_ bmw-, tfidf_ chev, tfidf_ chevr, tfidf_ chevro, tfidf_ chevrol, tfidf_ chevrole, tfidf_ chevrolet, ...]
Index: []

[0 rows x 893 columns]

### Quantile Transformation

In [26]:
cat_cols = ['Manufacturer','Model','Category','Leather interior','Cylinders',
            'Doors','Wheel','Color','Airbags','Turbo_Engine','Leap_Year',
            'Hybrid_Car','Numbers_in_Model','Drive wheels Front','Drive wheels Rear',
            'Manual_Gear','Automatic_Gear','Continuous_Gear','Fuel Tank Petrol',
            'Fuel Tank Diesel','Fuel Tank Gas','id0','id1','id2','id3','id4','id5','id6','id7']

vec_cols = [col for col in test_df.columns if (col.startswith('tfidf_') or col.startswith('countvec_'))]
num_cols = [col for col in test_df.columns if not(col in cat_cols or col in vec_cols)]
len(cat_cols), len(num_cols), len(vec_cols)

(29, 64, 800)

In [27]:
for col in tqdm(num_cols):
    transformer = QuantileTransformer(n_quantiles=1000, 
                                      random_state=10, 
                                      output_distribution="normal")
    
    vec_len = len(train_df[col].values)
    vec_len_test = len(test_df[col].values)

    raw_vec = train_df[col].values.reshape(vec_len, 1)
    test_vec = test_df[col].values.reshape(vec_len_test, 1)
    transformer.fit(raw_vec)
    
    train_df[col] = transformer.transform(raw_vec).reshape(1, vec_len)[0]
    test_df[col] = transformer.transform(test_vec).reshape(1, vec_len_test)[0]

100%|██████████| 64/64 [00:01<00:00, 59.77it/s]

In [28]:
train_df['Price'] = train_y.ravel()
print(f"train_df: {train_df.shape}")
train_df.head()

train_df: (15628, 894)

,Levy,Manufacturer,Model,Category,Leather interior,Engine volume,Mileage,Cylinders,Doors,Wheel,...,countvec_yundai-elantr,countvec_yundai-elantra,countvec_yundai-s,countvec_yundai-so,countvec_yundai-son,countvec_yundai-sona,countvec_yundai-sonat,countvec_yundai-sonata,countvec_yundai-sonata,Price
ID,,,,,,,,,,,,,,,,,,,,,
0,1.700222,30,1464,4,1,1.442543,0.664348,6.0,4,0,...,0,0,0,0,0,0,0,0,0,9.497697
1,0.991746,8,755,4,0,1.079690,0.716839,6.0,4,0,...,0,0,0,0,0,0,0,0,0,9.718482
2,-5.199338,21,799,3,0,-1.918441,0.793602,4.0,4,1,...,0,0,0,0,0,0,0,0,0,9.044050
3,0.668987,16,762,4,1,0.707140,0.480839,4.0,4,0,...,0,0,0,0,0,0,0,0,0,8.190909
4,-0.283522,21,799,3,1,-1.918441,-0.462327,4.0,4,0,...,0,0,0,0,0,0,0,0,0,9.369649

In [29]:
print(f"test_df: {test_df.shape}")
test_df.head()

test_df: (8245, 893)

,Levy,Manufacturer,Model,Category,Leather interior,Engine volume,Mileage,Cylinders,Doors,Wheel,...,countvec_yundai-elant,countvec_yundai-elantr,countvec_yundai-elantra,countvec_yundai-s,countvec_yundai-so,countvec_yundai-son,countvec_yundai-sona,countvec_yundai-sonat,countvec_yundai-sonata,countvec_yundai-sonata
ID,,,,,,,,,,,,,,,,,,,,,
15628,-5.199338,59,938,3,0,-0.023839,2.553557,4.0,2,0,...,0,0,0,0,0,0,0,0,0,0
15629,-5.199338,23,1543,9,1,0.452858,-1.460531,4.0,4,0,...,0,0,0,1,1,1,1,1,1,1
15630,-5.199338,40,1629,9,0,-1.171890,0.475214,4.0,4,1,...,0,0,0,0,0,0,0,0,0,0
15631,0.901685,60,1808,4,1,1.242061,0.180377,6.0,4,0,...,0,0,0,0,0,0,0,0,0,0
15632,-5.199338,41,321,3,0,-0.826698,0.793602,4.0,4,0,...,0,0,0,0,0,0,0,0,0,0

## Save the processed datasets

In [30]:
data_dict = {}
data_dict['train_df'] = train_df
data_dict['test_df'] = test_df

file = open("./MathCoThon_Ready_Meatballs.txt", 'wb')
pickle.dump(data_dict, file)
file.close()