## Import libraries

In [1]:
import gc
import numpy as np
import pandas as pd

## Prepare data

In [2]:
train_df = pd.read_csv("../input/tabular-playground-series-jun-2021/train.csv")
train_df['target'] = train_df['target'].apply(lambda x: int(x.replace("Class_","")))
train_df['target'] = train_df['target'].apply(lambda x: 0 if x==9 else x)
train_df.set_index("id", inplace=True)
train_df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74,target
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,6,1,0,0,0,0,7,0,...,0,0,0,0,0,0,2,0,0,6
1,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,1,0,6
2,0,0,0,0,0,1,0,3,0,0,...,0,0,0,0,1,0,0,0,0,2
3,0,0,7,0,1,5,2,2,0,1,...,0,4,0,2,2,0,4,3,0,8
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [3]:
test_df = pd.read_csv("../input/tabular-playground-series-jun-2021/test.csv")
test_df.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_65,feature_66,feature_67,feature_68,feature_69,feature_70,feature_71,feature_72,feature_73,feature_74
0,200000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,200001,1,2,0,0,0,0,0,0,0,...,3,1,3,0,0,0,0,3,0,0
2,200002,0,1,7,1,0,0,0,0,6,...,3,0,0,0,0,3,0,2,0,0
3,200003,0,0,0,4,3,1,0,0,0,...,0,0,0,1,0,0,0,4,0,0
4,200004,0,0,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
ds = np.load('../input/tps-june-old-fashion-way/DNN_Meta_Features.npz', allow_pickle=True)
y_pred_meta_dnn1, y_pred_final_dnn1 = ds['y_pred_meta_dnn'], ds['y_pred_final_dnn']

ds = np.load('../input/tps-june-mojito/Mojito_Meta_Features.npz', allow_pickle=True)
y_pred_meta_dnn2, y_pred_final_dnn2 = ds['y_pred_meta_dnn2'], ds['y_pred_final_dnn2']

ds = np.load('../input/tps-june-mojito/Mojito_Meta_Features.npz', allow_pickle=True)
y_pred_meta_dnn3, y_pred_final_dnn3 = ds['y_pred_meta_dnn3'], ds['y_pred_final_dnn3']

ds = np.load('../input/tps-june-pina-colada/CLRP_Pina_Colada_Meta_Features.npz', allow_pickle=True)
y_pred_meta_dnn4, y_pred_final_dnn4 = ds['y_pred_meta_dnn'], ds['y_pred_final_dnn']

ds = np.load('../input/tps-june-manhattan/DNN_Meta_Features.npz', allow_pickle=True)
y_pred_meta_dnn5, y_pred_final_dnn5 = ds['y_pred_meta_dnn'], ds['y_pred_final_dnn']

In [5]:
y_pred_final_dnn = (y_pred_final_dnn1 * 0.5) + (y_pred_final_dnn4 * 0.5)

submit_df = pd.DataFrame()
submit_df['id'] = test_df['id']
submit_df['Class_1'] = y_pred_final_dnn[:,1]
submit_df['Class_2'] = y_pred_final_dnn[:,2]
submit_df['Class_3'] = y_pred_final_dnn[:,3]
submit_df['Class_4'] = y_pred_final_dnn[:,4]
submit_df['Class_5'] = y_pred_final_dnn[:,5]
submit_df['Class_6'] = y_pred_final_dnn[:,6]
submit_df['Class_7'] = y_pred_final_dnn[:,7]
submit_df['Class_8'] = y_pred_final_dnn[:,8]
submit_df['Class_9'] = y_pred_final_dnn[:,0]
submit_df.to_csv("./TPS_Cocktail_Submission1.csv", index=False)
submit_df.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,200000,0.066241,0.422417,0.156214,0.026060,0.012907,0.139150,0.019815,0.042224,0.114971
1,200001,0.042632,0.069088,0.053681,0.020978,0.014419,0.277074,0.085447,0.306535,0.130145
2,200002,0.017712,0.026043,0.018193,0.009761,0.005579,0.750418,0.025927,0.102082,0.044283
3,200003,0.049074,0.133934,0.093586,0.033655,0.021372,0.216923,0.077976,0.214272,0.159209
4,200004,0.043376,0.115786,0.082661,0.025919,0.015482,0.269814,0.071722,0.226918,0.148321

In [6]:
y_pred_final_dnn = (y_pred_final_dnn1 * 0.5) + (y_pred_final_dnn4 * 0.35) + (((y_pred_final_dnn2 + y_pred_final_dnn3)/2) * 0.15)

submit_df['Class_1'] = y_pred_final_dnn[:,1]
submit_df['Class_2'] = y_pred_final_dnn[:,2]
submit_df['Class_3'] = y_pred_final_dnn[:,3]
submit_df['Class_4'] = y_pred_final_dnn[:,4]
submit_df['Class_5'] = y_pred_final_dnn[:,5]
submit_df['Class_6'] = y_pred_final_dnn[:,6]
submit_df['Class_7'] = y_pred_final_dnn[:,7]
submit_df['Class_8'] = y_pred_final_dnn[:,8]
submit_df['Class_9'] = y_pred_final_dnn[:,0]
submit_df.to_csv("./TPS_Cocktail_Submission2.csv", index=False)
submit_df.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,200000,0.066468,0.423664,0.156180,0.025938,0.012832,0.138033,0.019701,0.042354,0.114828
1,200001,0.042293,0.069491,0.053522,0.020917,0.014315,0.278229,0.085026,0.305978,0.130228
2,200002,0.017650,0.026188,0.018215,0.010069,0.005708,0.749636,0.026120,0.102199,0.044215
3,200003,0.048613,0.134232,0.093477,0.032963,0.020782,0.217572,0.077782,0.215047,0.159532
4,200004,0.043393,0.115810,0.082565,0.025973,0.015538,0.268439,0.072110,0.228364,0.147808

In [7]:
y_pred_final_dnn = (y_pred_final_dnn1 * 0.4) + (y_pred_final_dnn4 * 0.35) + (((y_pred_final_dnn2 + y_pred_final_dnn3)/2) * 0.15) + (y_pred_final_dnn5 * 0.1)

submit_df['Class_1'] = y_pred_final_dnn[:,1]
submit_df['Class_2'] = y_pred_final_dnn[:,2]
submit_df['Class_3'] = y_pred_final_dnn[:,3]
submit_df['Class_4'] = y_pred_final_dnn[:,4]
submit_df['Class_5'] = y_pred_final_dnn[:,5]
submit_df['Class_6'] = y_pred_final_dnn[:,6]
submit_df['Class_7'] = y_pred_final_dnn[:,7]
submit_df['Class_8'] = y_pred_final_dnn[:,8]
submit_df['Class_9'] = y_pred_final_dnn[:,0]
submit_df.to_csv("./TPS_Cocktail_Submission3.csv", index=False)
submit_df.head()

,id,Class_1,Class_2,Class_3,Class_4,Class_5,Class_6,Class_7,Class_8,Class_9
0,200000,0.066758,0.424329,0.156630,0.026056,0.012862,0.136622,0.019677,0.041943,0.115123
1,200001,0.042353,0.070143,0.053899,0.021089,0.014414,0.277483,0.085209,0.305056,0.130354
2,200002,0.017536,0.025943,0.017967,0.009945,0.005645,0.751402,0.025820,0.101930,0.043813
3,200003,0.048450,0.133488,0.093084,0.032761,0.020622,0.219578,0.077667,0.215160,0.159190
4,200004,0.043147,0.115293,0.082257,0.025778,0.015445,0.268372,0.072235,0.229813,0.147659